# Python
__pycache__/
*.pyc

# IDE-specific files
.idea/
.vscode/

# Virtual environment
venv/

# Datasets - CRITICAL to keep repository size small
data/

# Saved models and checkpoints
*.h5
*.keras
checkpoint/

# Log files and generated data
*.log
*.csv